.accordion {
	width: 90%;
	border-bottom: solid 1px #c4c4c4;
}
.accordion h3 {
	background:#F5F5F5 url(../images/arrow-square.gif) no-repeat right -51px;
	padding: 7px 15px;
	margin: 0;
	font: normal  100%/80% Arial, Helvetica, sans-serif;
	border: solid 1px #c4c4c4;
	border-bottom: none;
	cursor: pointer;
	color:#000000;
}
.accordion form {
		margin: 30px;
}
.accordion h3:hover {
	background-color:#66CC66;
}
.accordion h3.active {
	background-position: right 5px;
}
.accordion p {
	background: #f7f7f7;
	margin: 0;
	padding: 10px 15px 20px;
	border-left: solid 1px #c4c4c4;
	border-right: solid 1px #c4c4c4;
}