<html>
 <head>
 <link rel="stylesheet" type="text/css" href="/css/datepicker.css">
 
 <script type="text/javascript" src="/js/jquery.js"></script>
  <script type="text/javascript" src="/js/datepicker.js"></script>
  
  <link rel="stylesheet" href="css/datepicker.css" type="text/css" />
   
	
    <script type="text/javascript" src="/js/eye.js"></script>
    <script type="text/javascript" src="/js/utils.js"></script>
    <script type="text/javascript" src="/js/layout.js?ver=1.0.2"></script>
    
    <script type="text/javascript" src="/js/jquery.timePicker.js"></script>
    
    
    <link rel="stylesheet" href="/css/jquery-ui-1.8.14.custom.css" type="text/css" />
    <link rel="stylesheet" href="/css/jquery.ui.timepicker.css?v=0.3.1" type="text/css" />

    <script type="text/javascript" src="/js/jquery-1.5.1.min.js"></script>
    <script type="text/javascript" src="/js/jquery.ui.core.min.js"></script>
    <script type="text/javascript" src="/js/jquery.ui.widget.min.js"></script>
    <script type="text/javascript" src="/js/jquery.ui.tabs.min.js"></script>
    <script type="text/javascript" src="/js/jquery.ui.position.min.js"></script>
    <script type="text/javascript" src="/js/validateForm.js"></script>

    <script type="text/javascript" src="/js/jquery.ui.timepicker.js?v=0.3.1"></script>
    
    
            <script type="text/javascript">
            $(document).ready(function() {
                $('#timepicker_start').timepicker({
                    showLeadingZero: false,
                    onHourShow: tpStartOnHourShowCallback,
                    onMinuteShow: tpStartOnMinuteShowCallback
                });
                $('#timepicker_end').timepicker({
                    showLeadingZero: false,
                    onHourShow: tpEndOnHourShowCallback,
                    onMinuteShow: tpEndOnMinuteShowCallback
                });
            });

            function tpStartOnHourShowCallback(hour) {
                var tpEndHour = $('#timepicker_end').timepicker('getHour');
                // all valid if no end time selected
                if ($('#timepicker_end').val() == '') { return true; }
                // Check if proposed hour is prior or equal to selected end time hour
                if (hour <= tpEndHour) { return true; }
                // if hour did not match, it can not be selected
                return false;
            }
            function tpStartOnMinuteShowCallback(hour, minute) {
                var tpEndHour = $('#timepicker_end').timepicker('getHour');
                var tpEndMinute = $('#timepicker_end').timepicker('getMinute');
                // all valid if no end time selected
                if ($('#timepicker_end').val() == '') { return true; }
                // Check if proposed hour is prior to selected end time hour
                if (hour < tpEndHour) { return true; }
                // Check if proposed hour is equal to selected end time hour and minutes is prior
                if ( (hour == tpEndHour) && (minute < tpEndMinute) ) { return true; }
                // if minute did not match, it can not be selected
                return false;
            }

            function tpEndOnHourShowCallback(hour) {
                var tpStartHour = $('#timepicker_start').timepicker('getHour');
                // all valid if no start time selected
                if ($('#timepicker_start').val() == '') { return true; }
                // Check if proposed hour is after or equal to selected start time hour
                if (hour >= tpStartHour) { return true; }
                // if hour did not match, it can not be selected
                return false;
            }
            function tpEndOnMinuteShowCallback(hour, minute) {
                var tpStartHour = $('#timepicker_start').timepicker('getHour');
                var tpStartMinute = $('#timepicker_start').timepicker('getMinute');
                // all valid if no start time selected
                if ($('#timepicker_start').val() == '') { return true; }
                // Check if proposed hour is after selected start time hour
                if (hour > tpStartHour) { return true; }
                // Check if proposed hour is equal to selected start time hour and minutes is after
                if ( (hour == tpStartHour) && (minute > tpStartMinute) ) { return true; }
                // if minute did not match, it can not be selected
                return false;
            }

        </script>
 </head>
 <body>
 <form action="/post" onsubmit="return validateCreateEvent()">  
 <table>      
       <tr><td><label>Event title</label></td><td><input type="text" name="event_title" id="event_title"></td></tr>
       <tr><td><label>Event target audience</label></td><td><input type="text" name="target_audience" id="target_audience"></td></tr>
       <tr><td>.</td></tr>
       <tr><td><label>Event date</label></td><td>
       <input class="inputDate" id="inputDate" value="06/14/2008" name="event_date"/>
			<label id="closeOnSelect"><input type="checkbox" /></label>
       </td></tr>
        <tr><td><label>Event Start time :</label></td><td>
        <input type="text" style="width: 70px" id="timepicker_start" value="9:15" name="start_time"  /></td></tr>
        <tr><td><label>Event end time :</label></td>
        <td><input type="text" style="width: 70px" id="timepicker_end" value="16:30" name="stop_time"/></td></tr>
       <tr><td>.</td></tr>
       <tr><td><label>Event category</label></td>
           <td><select name="category">
           {% for category in categories %}
               <option value="{{ category.category_name|removeSpacesInString }}"> {{ category.category_name }}</option>
           {% endfor %}
               </select></td></tr>
       <tr><td>.</td></tr>
       <tr><td><label>Event Domain</label></td>
            <td><select name="event_domain">
             {% for subdomain in subdomains %}
                      <option>{{ subdomain.subdomain }}</option>
             {% endfor %}
                </select></td></tr>
       <tr><td>.</td></tr>
       <tr><td><label>Event Venue</label></td><td><input type="text" name="event_venue" id="venue"></td></tr>
       <tr><td>.</td></tr>
       <tr><td><label>Event description</label></td>
            <td><textarea name="event_description" rows="5" cols="30" id="description"></textarea></td></tr>
            <tr><td>.</td></tr>
       <tr><td colspan="2" align="center"><input type="submit" value="Create" class="status-button atd-button"></td></tr>
 </table>
 </form>
 </body>
</html>