<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title></title>
	
	<link rel="stylesheet" type="text/css" href="css/signup.css" media="all" />
	
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/jquery-ui.min.js"></script>
    <script type="text/javascript" src="js/jquery.inputfocus-0.9.min.js"></script>
    <script type="text/javascript" src="js/jquery.main.js"></script>
</head>
<body>
	
	<div id="container">
        <form action="/signup" method="post">
	
            <!-- #first_step -->
            <div id="first_step">
                <h1>SIGN UP FOR A FREE <span>GTANGAZA</span> ACCOUNT</h1>
                <h6>Your domain is not yet registered in GTangaza. Please sign up to use GTangaza for your organization</h6>
                <h6>Not {{ owner }}? <a href={{logout_url}}> Sign out</a></h6>

                <div class="form">
                    <input type="text" name="orgName" id="orgName" value="organization name" />
                    <label for="orgName">Enter name of the organization thats wants to adopt gTangaza online notice board</label>
                    
                    <input type="text" name="mobileNumber" id="mobileNumber" value="mobile number" />
                    <label for="mobileNumber">Enter Your Mobile Number e.g 254729xxxxxx</label>
                    
                    <input type="text" name="domain" id="domain" value="domain name" />
                    <label for="domain">Enter the organization domain name e.g jkuat.ac.ke.</label>
                    
                </div>      <!-- clearfix --><div class="clear"></div><!-- /clearfix -->
                <input class="submit" type="submit" name="submit_first" id="submit_first" value="" />
            </div>      <!-- clearfix --><div class="clear"></div><!-- /clearfix -->


            <!-- #second_step -->
            <div id="second_step">
                <h1>SIGN UP FOR A FREE <span>GTANGAZA</span> ACCOUNT</h1>
                <h6>Not {{ owner }}? <a href={{logout_url}}> Sign out</a></h6>
                <div class="form">
                    <input type="text" name="firstname" id="firstname" value="first name" />
                    <label for="firstname">Your First Name. </label>
                    <input type="text" name="lastname" id="lastname" value="last name" />
                    <label for="lastname">Your Last Name. </label>
                    <input type="text" name="email" id="email" value="email address" />
                    <label for="email">Your email address. We send important administration notices to this address. </label>                    
                </div>      <!-- clearfix --><div class="clear"></div><!-- /clearfix -->
                <input class="submit" type="submit" name="submit_second" id="submit_second" value="" />
            </div>      <!-- clearfix --><div class="clear"></div><!-- /clearfix -->


            <!-- #third_step -->
            <div id="third_step">
                <h1>SIGN UP FOR A FREE <span>GTANGAZA</span> ACCOUNT</h1>
                <h6>Not {{ owner }}? <a href={{logout_url}}> Sign out</a></h6>
                <div class="form">
               
               <select id="has_subdomain" name="has_subdomain">
                        <option>Yes</option>
                        <option>No</option>     
                    </select>
                    <label for="country">Specify if you have a subdomain for your organization's main domain </label> <!-- clearfix --><div class="clear"></div><!-- /clearfix -->                  
                    <select id="country" name="country">
                        <option>United States</option>
                        <option>United Kingdom</option>
                        <option>Canada</option>
                        <option>Kenya</option>
                        <option>Italy</option>
                    </select>
                    <label for="country">Your country. </label> <!-- clearfix --><div class="clear"></div><!-- /clearfix -->
                    
                </div>      <!-- clearfix --><div class="clear"></div><!-- /clearfix -->
                <input class="submit" type="submit" name="submit_third" id="submit_third" value="" />
                
            </div>      <!-- clearfix --><div class="clear"></div><!-- /clearfix -->
            
            
            <!-- #fourth_step -->
            <div id="fourth_step">
                <h1>SIGN UP FOR A FREE <span>GTANGAZA</span> ACCOUNT</h1>
                <h6>Not {{ owner }}? <a href={{logout_url}}> Sign out</a></h6>
                <div class="form">
                    <h2>Summary</h2>
                    
                    <table>
                        <tr><td>Organization Name</td><td></td></tr>
                        <tr><td>Your Mobile Number</td><td></td></tr>
                        <tr><td>Domain</td><td></td></tr>
                        <tr><td>Email</td><td></td></tr>
                        <tr><td>Name</td><td></td></tr>
                        <tr><td>Has Subdomains</td><td></td></tr>
                        <tr><td>Country</td><td></td></tr>
                        <tr><td>Details incorrect? <a href="/landing">Re-enter details</a></td></tr>
                    </table>
                </div>      <!-- clearfix --><div class="clear"></div><!-- /clearfix -->
                <input class="send submit" type="submit" name="submit_fourth" id="submit_fourth" value="" />            
            </div>
            
        </form>
	</div>
	<div id="progress_bar">
        <div id="progress"></div>
        <div id="progress_text">0% Complete</div>
	</div>
	
</body>
</html>